@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* HEADER */

    /* :root[data-theme="light"] {
        --text: #0f1a10;
        --background: #ebf4ec;
        --primary: #4b8652;
        --secondary: #d1e5d3;
        --accent: #54965c;
      } */
      /* :root[data-theme="dark"] { */
        /* --text: #e5f0e6;
        --background: #0b140c;
        --primary: #79b480;
        --secondary: #1a2e1c;
        --accent: #69ab71; */
      /* } */
      


  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .grid__item {
    flex: 1 1 calc(40% - 20px);
    margin: 10px;
    max-width: 40%;
    box-sizing: border-box;
  }
  
  @media screen and (min-width: 750px) {
    .grid__item {
      flex: 1 1 calc(30% - 20px);
      max-width: 30%;
    }
  }

  @media screen and (min-width: 1200px) {
    .grid__item {
      flex: 1 1 calc(20% - 20px);
      max-width: 20%;
    }
  }

  

.card {
    background: linear-gradient(49deg, #2d4de0 0, #9f71f0 30%, #fc6277 58%, #f8ef6f 95%);
    border-radius: 12px;
    transition: 0.2s ease;
    margin: 10px;
    position: relative;
    z-index: 1;
}


.card-container {
    background-color: var(--background);
    border: 2px solid var(--text);
    color: var(--text);
    border-radius: 12px;
    display: flex;
    flex: 1;
    padding: 1rem;
    justify-content: center;
    transition: 0.2s ease;
    position: relative;
    z-index: 2;
}
.card-container img {
    width: 100%; 
}
.card-container a {
    text-align: center;
    color: var(--text); 
}

.card:hover {
    border-radius: 12px;
    padding: 0.4rem;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
}




