<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./../../public_html/css/global.css">

<head>
    <title>Agorae</title>
</head>
<body>
    <h1>Agorae</h1>
    <p>This website was developed for an association based in Angers and includes an administrative section to facilitate the easy updating of information. It allows administrators to add new events, manage members, and make updates to the site's content. The website was built using a combination of PHP, HTML, CSS, and JavaScript technologies to provide a dynamic and user-friendly experience.</p><img src="./../../public_html/img/Projects/web/Agorae/Agorae.png" alt="Image" />
</body>
</html>