<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./../../public_html/css/global.css">

<head>
    <title>Carcassonne</title>
</head>
<body>
    <h1>Carcassonne</h1>
    <p>The Prolog version of Carcassonne is a computer adaptation of the classic board game. Play this medieval strategy game using your terminal. Place tiles, claim territories, and enjoy the automatic completion mode to assist you when you're unsure where to place your tile.</p><img src="./../../public_html/img/Projects/game/Carcassonne/Jouer.png" alt="Image" /><img src="./../../public_html/img/Projects/game/Carcassonne/partie.png" alt="Image" />
</body>
</html>