<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./../../public_html/css/global.css">

<head>
    <title>Pacman</title>
</head>
<body>
    <h1>Pacman</h1>
    <p>Introducing our Pacman project, a Java-based gaming masterpiece that follows a well-structured Model-View-Controller (MVC) architecture. This project goes beyond the ordinary with the incorporation of essential design patterns like Strategy, States, and Observer. The result is a dynamic and engaging Pacman experience that showcases the elegance of software design and gaming innovation.

Our Pacman project offers multiple modes of interaction, allowing users to take control of the game in one mode, while in another mode, Pacman and the ghosts autonomously play, challenging the player to complete the level. It's a gaming experience that caters to both active participation and strategic observation.</p><img src="./../../public_html/img/Projects/game/Pacman/0Pacman.png" alt="Image" /><img src="./../../public_html/img/Projects/game/Pacman/1Play.png" alt="Image" /><img src="./../../public_html/img/Projects/game/Pacman/2Game.png" alt="Image" /><img src="./../../public_html/img/Projects/game/Pacman/Command.png" alt="Image" /><img src="./../../public_html/img/Projects/game/Pacman/Settings.png" alt="Image" />
</body>
</html>