<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./../../public_html/css/global.css">

<head>
    <title>Pokemon-Website</title>
</head>
<body>
    <h1>Pokemon-Website</h1>
    <p>Discover my Pokemon-focused website, offering a robust platform for adding, modifying, and tracking Pokemon data within a structured database. With PHPMyAdmin for efficient database management, this web application provides a reliable and comprehensive solution for Pokemon enthusiasts and data management professionals alike. Explore the world of Pokemon on my website, where you can seamlessly interact with and manage Pokemon data.</p><img src="./../../public_html/img/Projects/web/Pokemon-Website/0home.png" alt="Image" /><img src="./../../public_html/img/Projects/web/Pokemon-Website/3Histo.png" alt="Image" />
</body>
</html>