<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./../../public_html/css/global.css">

<head>
    <title>Taquin</title>
</head>
<body>
    <h1>Taquin</h1>
    <p>Introducing our Taquin project, a C++ masterpiece built with the Qt framework. Taquin offers an engaging puzzle-solving experience with a twist users can select their own images to be used in the puzzle. The puzzle pieces are scrambled, and the goal is to reconstruct the image by strategically rearranging the pieces.

But there's more! Our Taquin project also includes the functionality to save and load your progress, ensuring that the fun and challenge can be picked up right where you left off. It's a delightful combination of image manipulation and puzzle-solving, brought to life with the power of C++ and Qt.</p><img src="./../../public_html/img/Projects/game/Taquin/1NewGame.png" alt="Image" /><img src="./../../public_html/img/Projects/game/Taquin/2Size.png" alt="Image" /><img src="./../../public_html/img/Projects/game/Taquin/Game.png" alt="Image" /><img src="./../../public_html/img/Projects/game/Taquin/Save.png" alt="Image" />
</body>
</html>