<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./../../public_html/css/global.css">

<head>
    <title>Website-Editor</title>
</head>
<body>
    <h1>Website-Editor</h1>
    <p>Introducing our 'Website Editor' application, a powerful tool crafted in C++ and powered by Qt. Our mission is to make web page creation accessible to all, regardless of technical expertise. With an intuitive and user-friendly What You See What You Get (WYSIWYG) interface reminiscent of WordPress, users can effortlessly design and create web pages. Say goodbye to coding complexities and hello to a seamless web design experience with 'Website Editor'. 
<br>
Collaboratively developed by Alexandre Joly, Victor Delattre, and Jason Collongues.</p><img src="./../../public_html/img/Projects/software/Website-Editor/0logo.png" alt="Image" /><img src="./../../public_html/img/Projects/software/Website-Editor/1New.png" alt="Image" /><img src="./../../public_html/img/Projects/software/Website-Editor/2Load.png" alt="Image" /><img src="./../../public_html/img/Projects/software/Website-Editor/3Style.png" alt="Image" /><img src="./../../public_html/img/Projects/software/Website-Editor/45Color.png" alt="Image" /><img src="./../../public_html/img/Projects/software/Website-Editor/4App.png" alt="Image" /><img src="./../../public_html/img/Projects/software/Website-Editor/5html.png" alt="Image" />
</body>
</html>