<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <?= $meta__desc; ?>
    <?= $tab__icon; ?>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body class="dark__theme">
    <header class="header">
      <div class="container">
        <div class="header__logo">
          <?= $header__logo; ?>
        </div>

        <nav class="header__nav__center">
          <ul class="header__menu list__unstyled">
            <?= $header__menu; ?>
          </ul>
        </nav>
        <div class="header__nav__right">
          <ul class="header__socials list__unstyled">
            <?= $header__socials; ?>
          </ul>
          <?= $header__button ?>
        </div>
        <button class="header__burger"><span class="bar">-</span></button>
      </div>
    </header>

    <?= $home;?>

    <footer>
      <div class="footer__content">
        <div class="footer__logo">
          <?= $footer__logo; ?>
        </div>
        <div class="footer__links">
          <ul>
            <?= $header__menu; ?>
          </ul>
        </div>
        <div class="footer__social">
          <ul>
            <?= $header__socials; ?>
          </ul>
        </div>
      
      <div class="footer__copyright">
        <?= $footer__copyright ?>
        
      
      </div>
    </br>
    </div>
    </footer>
    
  </body>
</html>
