<?php
$home=<<<EOT

<section class="home">
  <div class="container">
    <div class="grid">
      <div class="home__item">
        <span>
          <h1 class="home__bigtitle">
            $home__bigtitle
          </h1>
          <h1 class="home__title">
            <div class="wrapper">
              $dynamic__txts 
          </h1>
        </span>
      </div>
      </div>

      <div class="home__item--right">
        <div class="home__img">
          $home__img
        </div>
      </div>

      <div class="arrow">
        <div class="arrow-icon"></div>
        <i class="fa fa-arrow-down"></i>
    </div>
    <div class="theme-toggle">
      <button class="theme-toggle-button" id="themeToggle">
         Switch Theme  <i id="themeIcon"  class="fa fa-sun-o"></i></button>
    </div>
  </div>
</div>
</section>
EOT;
?>
